doctype html
html(lang='en', ng-app="Portfolio")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title Portfolio

        // Libraries

        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        // Font Awesome
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')

        // Custom CSS
        link(href='/css/style.css', rel='stylesheet')

        // Custom Fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Scripts

        // Angular.js
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
        // JQuery
        script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.3.min.js')
        // Embedly
        script(src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js", type="text/javascript")
        // Latest compiled and minified JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
        // Custom JavaScript
        script(src="/js/functions.js")

    body(ng-controller="portfolioCtrl")

        #zoom.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-body
                        img.wide
        .container
            .header.mt-m
                .line
                img.col-sm-4.col-sm-offset-4(src="/res/logo.png")
                .clearfix
            .projectContainer.mt-l
                .row
                    .col-sm-3.container0
                    .col-sm-3.container1
                    .col-sm-3.container2
                    .col-sm-3.container3
                    .clearfix
            .footer.col-xs-12
                | Copyright &copy; All rights reserverd Iulia Magdalena Boieru 2015

